h1, h2, h3, h4, h5, h6, p{
    color: #5a5a5a;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
}
img{
    width:100%;
}
#nav1-ul>li>a{
    color: #FFCAB9;
}
#nav2{
    padding: 10px 0 10px 0;
    font-size: 15px;
}
#nav2-ul li>a:hover{
    color: #FF5722;
}
#banner{
    background: #F5F5F5;
}
#banner>div>img{
    height: 950px;
    width: 100%;
}
#banner>div>h1,#banner>div>p{
    text-align: center;
}
#banner>div>p{
    font-size: 20px;
}
.container .row{
    margin-bottom: 20px;
}
#banner2>div>h1,#banner2>div>p{
    text-align: center;
}
#con1 img{
    height:400px;
}
#banner3>div>h1,#banner3>div>p{
    text-align: center;
}
.person{
    width: 130px;
    height: 130px;
    border: 10px solid #fff;
    border-radius: 50%;
}
#banner3{
    background: rgba(0, 0, 0, 0.04);
    padding: 10px;
    margin-top: 10px;
    padding-bottom: 200px;
}
#con123 div.mokuai{
    background: #fff;
    display: block;
    position: relative;
    top: 80px;
    padding: 15px;
    padding-top: 60px;
}
#con123 div.mokuai>h3{
    text-align: center;
    color:#ff5722;
    font-size: 20px
}
#con123 div.mokuai>p{
    text-align: center;
    font-size: 18px;
    line-height: 1.6em;
    color: #555555;
}
#con123 div.mokuai>div.tou{
    position: absolute;
    top: -65px;
    left: 113px;
}







