body,
html {
	/*width: 100%;
	height: 100%;*/
}
div,p{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 12px;
	/*font: inherit;*/
	vertical-align: baseline;
	text-decoration:none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-family: "Î¢ÈíÑÅºÚ";
	font-style: normal;
}
.wrap {
	/*width: 100%;
	height: 100%;*/
	/*border: 1px solid red;*/
}

.wrap * {
	box-sizing: border-box;
	/*-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;*/
}



.why {
	background: #fff;
	width: 100%;
	/*border: 1px solid red;*/
}

.why_content {
	width: 1200px;
	margin: auto;
	/*border: 1px solid red;*/
	padding: 80px 0 20px 0;
}
.what {
	background: #fff;
	width: 100%;
	/*border: 1px solid red;*/
}

.what_content {
	width: 1200px;
	margin: auto;
	/*border: 1px solid red;*/
	padding: 80px 0;
}

.section_title {
	margin-bottom: 40px;
}

.section_title>span {
	display: block;
	font-size: 26px;
	font-weight: bold;
	color: #001523;
	text-align: center;
}

.section_title p {
	display: block;
	color: #000000;
	font-size: 20px;
	margin: auto;
	text-align: center;
}

.section_title p span {
	color: #4685F8;
	font-size: 20px;
	line-height: 30px;
}
.why_content .list_win {
	width: 400px;
	margin-bottom: 20px;
	float: left;
	/*border: 1px solid black;*/
}

.why_content_list {
	display: block;
	width: 341px;
	position: relative;
	margin: auto;
	border: 1px solid #E2E2E2;
	background: #FFFFFF;
	transition: all .2s ease-in-out;
	/*overflow: hidden;*/
}

.why_content_list img {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	filter: blur(3px);
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-ms-filter: blur(3px);
	-o-filter: blur(3px);
	transition: all .5s ease-in-out;
}

.why_content_list>span {
	display: block;
	width: 100%;
	font-size: 34px;
	color: #fff;
	text-align: center;
	position: absolute;
	top: 80px;
	left: 0;
}

.why_content_list .text {
	/*width: 100%;*/
	height: 140px;
	padding: 30px 20px 0 20px;
	background: url(why_text.png) no-repeat 30px 20px;
}

.why_content_list .text p {
	font-size: 12px;
	line-height: 20px;
	color: #8E8E8E;
	text-align: center;
}

.why_content_list:hover {
	box-shadow: 0 -1px 20px -1px #77777f;
	webkit-box-shadow: 0 -1px 20px -1px #77777f;
	-moz-box-shadow: 0 -1px 20px -1px #77777f;
	-ms-box-shadow: 0 -1px 20px -1px #77777f;
	-o-box-shadow: 0 -1px 20px -1px #77777f;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	transform: translateY(-5px);
	-webkit-transform: translateY(-5px);
	-moz-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	-o-transform: translateY(-5px);
}

.why_content_list:hover img {
	backface-visibility: visible;
	-webkit-backface-visibility: visible;
	-moz-backface-visibility: visible;
	-ms-backface-visibility: visible;
	-o-backface-visibility: visible;
	filter: blur(0px);
	-webkit-filter: blur(0px);
	-moz-filter: blur(0px);
	-ms-filter: blur(0px);
	-o-filter: blur(0px);
}